# Cocos v4 CMake build tree
**/ios-build/
**/mac-build/

# Cocos2D-x source tree

*/cocos2d/

# OSX - https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon



# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#XCode

#Java
*.class

# XCode
*.moved-aside
build/*
*.xcworkspace
*.mode1v3
*.mode2v3
*.pbxuser
!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*

#Cocoa pods
*.old
Pods/*

#cocos2d-x
libs/
bin/
obj/
assets/
gen/
out/
.classpath
.project
.cproject

# backup files
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz


# Windows - https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# CMake
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
*Makefile

# cocos studio
*.udf

# proj.android
bin/
**/proj.android/assets/
**/proj.android/bin/
**/proj.android/gen/
**/proj.android/libs/
**/proj.android/local.properties
**/proj.android/obj/
**/proj.android/app/build
**/proj.android/app/.cxx/
**/cocos2d/cocos/platform/android/java/bin/
**/cocos2d/cocos/platform/android/java/gen/
**/cocos2d/cocos/platform/android/java/local.properties
**/cocos2d/cocos/platform/android/java/res/
.metadata/
.recommenders/

# Android Studio
# proj.android-studio
.idea/
*.iml

# Visual Studio
.vscode/

# proj.ios_mac
**/cocos2d/build/build/
**/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/
**/proj.ios_mac/build/
**/proj.ios_mac/*.xcodeproj/project.xcworkspace
**/proj.ios_mac/*.xcodeproj/xcuserdata/
!*.pch
